/*
////////////////////////////
	Grids
////////////////////////////
*/
	/*
	////////////////////////////
		Standard
	////////////////////////////
	*/
		/*
			Wrapper
		=================
		*/
			.wrapper{
				width: 100%;
				max-width: 1280px;
			}
		/*
			Row
		=================
		*/
			.row{
				width: 100%;
			}

	/*
	////////////////////////////
		//Standard
	////////////////////////////
	*/

	/*
	////////////////////////////
		Attr Values
	////////////////////////////
	*/
		/*
			Sizes
		====================
		*/
			.grid-1{
				width: 8.33%;
			}
			.grid-2{
				width: 8.33% * 2;
			}
			.grid-3{
				width: 8.33% * 3;
			}
			.grid-4{
				width: 8.33% * 4;
			}
			.grid-5{
				width: 8.33% * 5;
			}
			.grid-6{
				width: 8.33% * 6;
			}
			.grid-7{
				width: 8.33% * 7;
			}
			.grid-8{
				width: 8.33% * 8;
			}
			.grid-9{
				width: 8.33% * 9;
			}
			.grid-10{
				width: 8.33% * 10;
			}
			.grid-11{
				width: 8.33% * 11;
			}
			.grid-12{
				width: 8.33% * 12;
			}
	/*
	////////////////////////////
		//Sizes
	////////////////////////////
	*/

	/*
	////////////////////////////
		Spacing
	////////////////////////////
	*/
		/*
			Any side
		================
		*/
			.offset-as{
				margin: 0 0.55%;
			}
		/*
			Left
		==============
		*/
			.offset-l{
				margin-left: 1.1%
			}

		/*
			Right
		==============
		*/
			.offset-r{
				margin-right: 1.1%
			}
	/*
	////////////////////////////
		//Spacing
	////////////////////////////
	*/
/*
////////////////////////////
	//Grids
////////////////////////////
*/