/*
////////////////////////////
	Helpers
////////////////////////////
*/
	/*
	////////////////////////////
		Variable
	///////////////////////////
	*/
		/*
			Colors
		======================
		*/
			@color_light: #CCC;
			@color_primary: #da4f48;
			@color_strong: #aa413b;
	/*
	////////////////////////////
		//Variable
	///////////////////////////
	*/

	/*
	///////////////////////////
		Position
	///////////////////////////
	*/
		/*
			Left
		======================
		*/
			.left{
				float: left;
			}
		/*
			Right
		======================
		*/
			.right{
				float: right;
			}
		/*
			Center
		======================
		*/
			.center{
				margin: 0 auto;
			}
	/*
	///////////////////////////
		//Position
	///////////////////////////
	*/

/*
////////////////////////////
	//Helpers
////////////////////////////
*/