/*
//////////////////////////////////////
	List
/////////////////////////////////////
*/

	/*
	////////////////////////////
		Variable
	///////////////////////////
	*/
		/*
			Colors
		======================
		*/
			@color_light: #CCC;
			@color_primary: #da4f48;
			@color_strong: #aa413b;
	/*
	////////////////////////////
		//Variable
	///////////////////////////
	*/
		/*
			Reset
		=======================
		*/
			.list-reset{
				margin: 0;
				padding: 0;

				li{
					list-style-type: none;
				}
			}
		/*
			List
		=======================
		*/
			.list-inline{
				li{
					display: inline-block;
				}
			}
	
/*
//////////////////////////////////////
	//List
/////////////////////////////////////
*/