/*
//////////////////////////////////////
	Menu
/////////////////////////////////////
*/

	/*
	////////////////////////////
		Variable
	///////////////////////////
	*/
		/*
			Colors
		======================
		*/
			@color_light: #CCC;
			@color_primary: #da4f48;
			@color_strong: #aa413b;
	/*
	////////////////////////////
		//Variable
	///////////////////////////
	*/
	
		.menu{

			/*
				List
			=======================
			*/
				&.menu-list, .menu-list{
					margin: 0;
					padding: 0;

					li{}
				}

		}
	
/*
//////////////////////////////////////
	//Menu
/////////////////////////////////////
*/