/*
/////////////////////////////////////
	Dropdown(dp)
////////////////////////////////////
*/
	.dropdown{
		max-width: 100%;
		position: relative;

		/*
		==================
			Button(btn)
		==================
		*/
			.dp-btn{
				box-sizing: border-box;
				border: 0;
				text-align: left;
				
				padding: 10px 15px;

				width: 100%;

				&:hover, &:focus{
					outline: none;
				}

				.dp-i{
					display: inline-block;
					
					margin-bottom: -3px;
					margin-left: 15px;

					width: 15px;
					height: 15px;
					background-position: center center;
					background-size: 15px auto;
				}
			}

		/*
		==================
			List(ls)
		==================
		*/
			.dp-ls{				
				display: none;
				list-style-type: none;
				overflow: auto;
				position: absolute;
				border-radius: 3px;
				z-index: 9;
				right: 0;
				top: 105%;

				margin: 0;
				padding: 0;

				min-width: 100%;

				box-shadow: 0px 0px 10px #ccc;
				background-color: #fff;

				.dp-ls-item{
					display: block;

					a{
						display: block;
						text-decoration: none;

						padding: 10px 15px;
						color: #333;

						&:hover, &:focus{
							background-color: #f4f4f4; 
						}
					}					
				}
			}
	
		/*
		=======================
			Extended
		=======================
		*/
			&.extended{

				.dp-btn{
					.dp-i{
						-webkit-transform: rotate(-180deg);
						   -moz-transform: rotate(-180deg);
						    -ms-transform: rotate(-180deg);
						     -o-transform: rotate(-180deg);
						        transform: rotate(-180deg);
					}
				}
				.dp-ls{
					display: block;
				}

			}
	}

/*
/////////////////////////////////////
	//Dropdown
////////////////////////////////////
*/