/*
|||||||||||||||||||||||||||||||||||||
	name: Champs
	version: 1.0.0
	author: Raro! Brand & Design
|||||||||||||||||||||||||||||||||||||
*/

body{
	margin: 0;
}

/*
	######################
			HEADER
	######################
*/
	.header{
		&.header-scroll{
			background-color: rgba(43, 77, 138, 0.9);
			position: fixed;
			width: 100%;
			padding: 20px 0 15px 0;
			transition: 0.4s;
			z-index: 6;
			.header-container{
				padding: 0;
				.header-logo{
					img{
						width: 210px;
						height: auto;
					}
				}
			}
		}
		.header-container{
			padding: 30px 0 20px 0;
			.header-logo{
				a{
					&:hover, &:focus{
						outline: none;
					}
				}
			}
			.header-list{
				&.col-lg-6{
					width: 55.98%!important;
				}
				&.index-list{
					nav{
						ul{
							li{
								a{
									color: #fff;
								}
							}
						}
					}
				}

				margin: 15px 0 0 0;
				nav{
					ul{
						margin: 0;
						padding: 0;
						li{
							display: inline-block;
							list-style-type: none;
							margin: 0 40px 0 0;
							a{
								position: relative;
								font-size: 14px;
								color: #2b4d8a;
								display: block;
								text-decoration: none;
								&:hover, &:focus, &.active{
									outline: none;	
									&::after{
										width: 100%;
									}
								}
								&.active{
									font-weight: bold;
									&::after{
										background-color: #d1672f;
									}
								}
								&::after{
									content: "";
									position: absolute;
									width: 0;
									height: 2px;
									background-color: #d1672f;
									top: 18px;
									left: 0;
									right: 0;
									margin-left: auto;
									margin-right: auto;
									transition: 0.25s;
								}
							}
						}
					}
				}
			}
			.link-portal{
				&.col-lg-3{
					width: 16.99%!important;
				}
				a{
					font-size: 14px;
					color: #fff;
					background-color: #d1672f;
					text-decoration: none;
					display: inline-block;
					padding: 16px 15px 14px;
					&:hover, &:focus{
						outline: none;
						transition: 0.2s;
						background-color: #eb641c;
					}
				}
			}
		}
		&.pages{
			border-top: 3px solid #d1672f;
			border-bottom: 1px solid #d1672f;
			.header-container{
				.header-logo{
					.logo-scroll{
						display: none;
						img{
							width: 187px;
							height: auto;
						}
					}
					.logo-default{
						img{
							width: 187px;
							height: auto;
						}
					}
				}
			}
			&.header-scroll{
				border-top: 0;
				border-bottom: 0;
				padding: 0;
				z-index: 6;
				transition: 0.4s;
				.header-container{
					padding: 20px 0 15px 0;
					.header-list{
						ul{
							li{
								a{
									color: #fff;
								}
							}
						}
					}
				}
			}
		}

	}

	


/*
	######################
		  //HEADER
	######################
*/

/*
	######################
	   BACKGROUND HEADER
	######################
*/

	.index{
		border-top: 11px solid #d1672f;
		background-repeat: no-repeat;
		background-size: cover;
		height: 885px;
		&.index-bkg{
			background-image: url('../images/background-home.jpg');
		}
	}

/*
	##########################
	   //BACKGROUND HEADER
	##########################
*/


/*
	#####################
   		   SECTION
	#####################
*/
	.section{
		.section-container{
			.section-title{
				display: inline-block;
				margin: 225px 0 15px 0;
				h1{
					margin: 0;
					font-size: 31px;
					line-height: 35px;
					color: #fff;
					text-transform: uppercase;
				}	
			}
			.section-content{
				margin: 0 0 25px 0;
				p{
					margin: 0;
					font-size: 16px;
					line-height: 22px;
					color: #fff;
				}
			}
			.section-button{
				a{
					display: inline-block;
					background-color: #2b4d8a;
					font-size: 14px;
					text-decoration: none;
					color: #fff;
					padding: 16px 20px 14px 20px;
					&:hover, &:focus{
						transition: 0.2s;
						outline: none;
						background-color: #224fa3;
					}
				}
			}
		}
	}
	



/*
	#####################
   		 //SECTION
	#####################
*/


/*
	#####################
   		 ARTICLE
	#####################
*/
	.article{
		.article-title{
			margin-bottom: 40px;
			h1{
				margin: 0;
				text-transform: uppercase;
				color: #2b4d8a;
				font-size: 26px;
			}
		}
		.article-container{
			margin-bottom: 80px;
			.article-post{
				margin-right: 50px;
				&:last-child{
					margin-right: 0;
				}
				&.col-lg-3{
					width: 21.99% !important;
				}
				.article-post--img{
					width: 280px;
					height: 210px;
					overflow: hidden;
					img{
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
					}
				}
				.article-post--title{
					h1{
						line-height: 24px;
						margin: 20px 0;
						font-size: 22px;
						color: #2b4d8a;
					}
				}
				.article-post--content{
					p{
						line-height: 20px;
						margin: 0;
						font-size: 14px;
						color: #616161;
					}
				}
			}
			
		}
		.article-plus{
			margin-bottom: 90px;
			a{
				line-height: 24px;
				display: inline-block;
				font-size: 22px;
				color: #2b4d8a;
				padding: 15px 35px 12px;
				border: 2px solid #d1672f;
				text-decoration: none;
				transition: 0.2s;
				&:hover, &:focus{
					background-color: #d1672f;
					color: #fff;
					outline: none;
				}
			}
		}
	}


/*
	#####################
   		 //ARTICLE
	#####################
*/



/*
	#####################
   		  ASIDE
	#####################
*/
	.aside{
		background-repeat: no-repeat;
		background-size: cover;

		&.aside-bkg1{
			background-image: url('../images/background-aside1.jpg');
			height: 319px;
		}
		&.aside-bkg2{
			background-image: url('../images/background-aside2.jpg');
			height: 423px;
		}
	}
	.aside-container{
		.aside-title{
			margin: 67px 0 35px 0;
			h1{
				margin: 0;
				text-transform: uppercase;
				font-size: 26px;
				color: #fff;
			}
		}
		.aside-content{
			p{
				margin: 0;
				color: #fff;
				line-height: 24px;
				font-size: 18px;
			}
		}
	}

		/*
			#####################
		   		ASIDE PRODUTOS
			#####################
		*/
			.aside-produtos{
				margin-top: 90px;
				margin-bottom: 65px;
				.aside-produtos--list{
					margin-right: 30px;
					&:last-child{
						margin-right: 0;
					}
					nav{
						ul{
							margin: 0;
							padding: 0;
							li{
								margin-bottom: 10px;
								list-style-type: none;
								color: #fff;
								i{
									margin: 0 5px 0 0;
									font-size: 6px;
								}
							}
						}
					}
				}
			}
			.aside-produtos--plus{
				display: inline-block;
				a{
					line-height: 24px;
					display: inline-block;
					font-size: 22px;
					color: #fff;
					padding: 15px 35px 9px;
					border: 2px solid #d1672f;
					text-decoration: none;
					transition: 0.2s;
					&:hover, &:focus{
						background-color: #d1672f;
						color: #fff;
						outline: none;
					}
				}
			}
		/*
			#####################
		   		ASIDE PRODUTOS
			#####################
		*/

/*
	#####################
   		  //ASIDE
	#####################
*/

/*
	#####################
   		MEIO AMBIENTE
	#####################
*/
	.meio-amb{
		margin-bottom: 100px;
		.meio-amb--title{
			margin: 75px 0 55px 0;
			h1{
				margin: 0;
				text-transform: uppercase;
				font-size: 26px;
				color: #2b4d8a;
			}
		}
		.meio-amb--content{
			margin-bottom: 70px;
			p{
				margin: 0;
				font-size: 18px;
				color: #616161;
				line-height: 24px;
			}
		}
		.meio-amb--circle{
			&.meio-amb--img{
				nav{
					ul{
						margin: 0;
						padding: 0;
						li{
							margin: 0 110px 0 0;
							display: inline-block;
							border-radius: 50%;
							width: 108px;
							height: 108px;
							overflow: hidden;
							&:last-child{
								margin: 0;
							}
							img{
								min-width: 100%;
								min-height: 100%;
								max-width: 150%;
							}		
						}
					}
				}
			}			
		}
	}


/*
	#####################
   		MEIO AMBIENTE
	#####################
*/


/*
	#####################
   		   e
	#####################
*/
	.footer{
		padding: 40px 0 30px 0;
		background-color: #2b4d8a;
		.footer-aling{
			margin-top: 0;
		}
		.footer-logo{
			margin: 40px 0 0 0;
			a{
				&:hover, &:focus{
					outline: none;
				}
			}
		}
		.footer-list--border{
			border-left: 2px solid #d1672f;
		}
		.footer-list{
			&.container{
				padding: 0;
			}
			.footer-list--title{
				margin: 0 0 10px 0;
				h1{
					font-size: 15px;
					color: #d1672f;
					margin: 0;
				}
			}
			nav{
				ul{
					margin: 0;
					padding: 0;
					li{
						margin-bottom: 8px;
						list-style-type: none;
						a{
							font-size: 12px;
							text-decoration: none;
							color: #fff;
							&:hover, &:focus{
								outline: none;
								text-decoration: underline;
							}
						}
					}
				}
			}
		}
		.footer-social{
			.footer-social--title{
				margin: 0 0 25px 0;
				h1{
					font-size: 15px;
					color: #d1672f;
					margin: 0;
				}
			}
			.footer-social--link{
				a{
					text-transform: uppercase;
					text-decoration: none;

					i{
						margin: 0 15px 0 0;
						color: #fff;
						font-size: 30px;
					}
					&:hover, &:focus{
						outline: none;
						p{
							color: #d1672f;
						}
						i{
							color: #d1672f;
						}
					}
					p{
						display: inline;
						font-size: 15px;
						margin: 0;
						color: #fff;
					}
				}
			}
		}
		.footer-top{
			margin: 45px 0 0 0;
			.footer-top--link{
				a{
					text-transform: uppercase;
					font-size: 18px;
					text-decoration: none;
					color: #fff;
					i{
						margin-left: 13px;
						font-size: 22px;
					}
					&:hover, &:focus{
						outline: none;
						color: #d1672f;
					}
				}	
			}
		}
	}

	.footer-black{
		padding: 30px 0 25px 0;
		background-color: #303030;
		.footer-black--copiryght{
			p{
				margin:0;
				font-size: 11px;
				color: #fff;
			}
		}
		.footer-black--developer{
			p{
				margin: 6px 0 0 0;
				font-size: 9px;
				color: #fff;
			}
		}
	}
/*
	#####################
   		 //FOOTER
	#####################
*/


/*
	#####################
	 	FALE CONOSCO
	#####################
*/
	.fale-conosco{
		background-color: #f7f7f7;
		.fale-conosco--title{
			margin: 55px 0 60px 0;
			h1{
				text-transform: uppercase;
				margin: 0;
				font-size: 22px;
				color: #2b4d8a;
			}
		}
		.fale-conosco--container{
			margin: 0 0 80px 0;
			.fale-conosco--locais{
				.locais-icon{
					i{
						font-size: 36px;
						color: #d1672f;
					}
				}
				.locais-city{
					margin: 25px 0;
					h1{
						text-transform: uppercase;
						margin: 0;
						color: #2b4d8a;
						font-size: 16px;
					}
				}
				.locais-content{
					p{
						line-height: 20px;
						font-size: 14px;
						margin: 0;
						color: #616161;	
						span{
							font-weight: bold;
						}
					}
				}
			}
		}
	}



/*
	#####################
	    //FALE CONOSCO
	#####################
*/

/*
	#####################
	      CONTATO
	#####################
*/

	.contato{
		margin: 135px 0 90px 0;
		.contato-block--left{
			.block-left--title{
				h1{
					text-transform: uppercase;
					font-size: 22px;
					color: #2b4d8a;
					margin: 0;
				}
			}
			.block-left--content{
				margin: 35px 0 0 0;
				p{
					line-height: 24px;
					font-size: 16px;
					margin: 0;
				}
			}
		}
		.contato-form{
			#EnvioOk{
				display: none;
				color: #d1672f;
			}
			#EnvioError{
				display: none;
				color: #d1672f;
			}
			form{
				.form-align{
					margin-bottom: 80px;
				}
				.button-contato{
					margin: 75px 0 0 0;
				}
				.form-field{	
					margin-top: 0;			
					&:last-child{
						margin-bottom: 0;
					}
					input{
						font-size: 16px;
						padding: 10px;
						border: 0;
						border-bottom: 1px solid #515151;
					}
					textarea{
						padding: 10px;
						width: 100%;
						height: 75px;
						border: 0;
						border-bottom: 1px solid #515151;
					}
					button{
						padding: 13px 28px 11px;
						color: #2b4d8a;
						font-weight: bold;
						background-color: transparent;
						border: 2px solid #d1672f;
						font-size: 22px;
						&:hover, &:focus{
							background-color: #d1672f;
							color: #fff;
							outline: none;
							transition: 0.2s;
						}
					}
				}
				p{
					text-transform: uppercase;
					font-size: 21px;
					color: #2b4d8a;
					margin: 0;
				}
			}
		}
	}





/*
	#####################
	      //CONTATO
	#####################
*/

/*
	#####################
	      ESTRUTURA
	#####################
*/
	.estrutura{
		margin: 80px 0 0 0;
		.estrutura-title{
			margin-bottom: 15px;
			h1{
				text-transform: uppercase;
				font-size: 26px;
				color: #2b4d8a;
				margin: 0;
			}
		}
		.estrutura-subtitle{
			margin-bottom: 30px;
			h2{
				text-transform: uppercase;
				margin: 0;
				font-size: 20px;
				color: #616161;
			}
		}
		.estrutura-content{
			margin-bottom: 100px;
			p{
				margin: 0;
				color: #616161;
				font-size: 16px;
				line-height: 26px;
			}
		}
		.estrutura-posts--align{
			margin-bottom: 60px;
			.estrutura-posts{
				margin-bottom: 30px;
				.posts-img{
					position: relative;
					width: 380px;
					height: 380px;
					overflow: hidden;
					img{
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
						&:hover{
					        -webkit-transform: scale(1.1);
					        -ms-transform: scale(1.1);
					        transform: scale(1.1);
					        transition: 0.2s;
					     }
					}
					.posts-content{
						padding: 15px 0;
						background-color: #d1672f;
						position: absolute;
						bottom: 0;
						height: auto;
						.posts-content--text{
							p{
								line-height: 22px;
								text-transform: uppercase;
								margin: 0;
								color: #fff;
								font-size: 18px;
							}			
						}
						
					}
				}
				&:hover{
					cursor: pointer;
				}
			}
		}
		.estrutura-plus{
			margin-bottom: 80px;
			.estrutura-plus--link{
				a{
					text-transform: uppercase;
					font-size: 22px;
					text-decoration: none;
					color: #2b4d8a;
					transition: 0.2s;
					&:hover, &:focus{
						color: #d1672f;
						outline: none;
					}
				}
			}
		}
	}





/*
	#####################
	    //ESTRUTURA
	#####################
*/


/*
	#####################
	      PRODUTOS
	#####################
*/
	
	.produtos{
		.produtos-title{
			margin: 85px 0 0 0;
			h1{
				margin: 0;
				text-transform: uppercase;
				font-size: 26px;
				color: #2b4d8a;
			}
		}
		.produtos-subtitle{
			margin: 18px 0 35px 0;
			h2{
				margin: 0;
				text-transform: uppercase;
				font-size: 20px;
				color: #616161;
			}
		}
		.produtos-content{
			margin: 0 0 100px 0;
			p{
				margin: 0;
				font-size: 16px;
				color: #616161;
				line-height: 26px;
			}
		}
		.produtos-align{
			margin-bottom: 60px;
			.produtos-posts{
				margin-bottom: 30px;
				.produtos-posts--img{
					position: relative;
					width: 380px;
					height: 380px;
					overflow: hidden;
					img{
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
						&:hover{
					        -webkit-transform: scale(1.1);
					        -ms-transform: scale(1.1);
					        transform: scale(1.1);
					        transition: 0.2s;
					     }
					}
					.produtos-posts--content{
						padding: 15px 0;
						background-color: #d1672f;
						position: absolute;
						bottom: 0;
						height: auto;
						.produtos-posts--text{
							p{
								text-transform: uppercase;
								margin: 0;
								color: #fff;
								font-size: 18px;
							}			
						}
					}
				}
				&:hover{
					cursor: pointer;
				}
			}
		}
		.produtos-plus{
			margin-bottom: 80px;
			.produtos-plus--link{
				a{
					text-transform: uppercase;
					font-size: 22px;
					text-decoration: none;
					color: #2b4d8a;
					transition: 0.2s;
					&:hover, &:focus{
						color: #d1672f;
						outline: none;
					}
				}
			}
		}
	}

/*
	#####################
	      //PRODUTOS
	#####################
*/


/*
	#####################
	    INSTITUCIONAL
	#####################
*/
		
	.institucional{
		.institucional-title{
			margin: 70px 0 0 0;
			h1{
				margin: 0;
				font-size: 25px;
				color: #2b4d8a;
			}
		}
		.institucional-content{
			margin: 50px 0;
			p{
				margin: 0;
				font-size: 18px;
				color: #616161;
				line-height: 25px;
			}
		}
		.instituciona--link{
			margin: 0 0 90px 0;
			a{
				display: inline-block;
				font-size: 16px;
				color: #2b4d8a;
				text-decoration: none;
				padding: 16px 26px 15px 26px;
				border: 2px solid #d1672f;
				&:hover, &:focus{
					background-color: #d1672f;
					color: #fff;
				}
			}
		}
	}
	.institucional-container{
		margin: 0 0 140px 0;
		.institucional-container--img{
			width: 100%;
			height: 525px;
			overflow: hidden;
			img{
				min-width: 100%;
				min-height: 100%;
				max-width: 150%;
			}
		}
	}




/*
	#####################
	   //INSTITUCIONAL
	#####################
*/


/*
	#####################
	   	  SERVIÇOS
	#####################
*/
	.servicos{
		margin: 0 0 80px 0;
		.servicos-title{
			margin: 65px 0 0 0;
			h1{
				font-size: 24px;
				color: #d1672f;
				margin: 0;
			}
		}
		.servicos-content{
			margin: 30px 0 80px 0;
			p{
				font-size: 19px;
				margin: 0;
				line-height: 24px;
				color: #616161;
			}
		}
		.servicos-list{
			.servicos-container{
				&:nth-child(even){
					.servicos-container--img{
						&.left{
							float: right;
						}
					}
					.servicos-container--posts{
						.servicos-container--posts-align{
							padding: 0 50px 0 0;
							text-align: right;
							.col-lg-6{
								float: right;
							}
						}
					}
				}
			}
		}
		.servicos-container{
			background-color: #2b4d8a;
			height: 610px;
			.servicos-container--img{
				height: 610px;
				overflow: hidden;
				border-bottom: 11px solid #d1672f;
				img{
					min-width: 100%;
					min-height: 100%;
					max-width: 150%;
				}
			}
			.servicos-container--posts{
				.servicos-container--posts-align{
					padding: 0 0 0 50px;
					.posts-serv--title{
						margin: 70px 0 24px 0;
						h1{
							text-transform: uppercase;
							margin: 0;
							font-size: 26px;
							line-height: 32px;
							color: #d1672f;
						}
					}
					.posts-serv--content{
						margin: 0 0 60px 0;
						p{
							margin: 0;
							font-size: 21px;
							line-height: 27px;
							color: #fff;
						}
					}
					.posts-serv--link{
						a{
							display: inline-block;
							border: 2px solid #d1672f;
							padding: 10px 15px 9px 15px;
							color: #fff;
							text-decoration: none;
							&:focus, &:hover{
								background-color: #d1672f;
								color: #fff;
								outline: none;
							}
						}
					}
				}
			}
		}
	}




/*
	#####################
	    //SERVIÇOS
	#####################
*/


/*
	#####################
	   MENU RESPONSIVE
	#####################
*/
	.mobile-menu{
		float: right;
	}
		
		.nav-menu ul{
			padding: 0px;
			margin: 15px 0;
		}

		.nav-menu ul li{
			font-size: 16px;

		}

		.nav-menu li a{
			padding: 7px 20px;
			display: block;
			color: #fff;
			text-decoration: none;
		}
		.nav-menu li a:hover{
			text-decoration: none;
			padding-left: 6px;
			transition: 0.2s;

		}

		nav-menu li a:visited{
			text-decoration: none;
		}
		.nav-menu li{
			list-style-type: none;
			text-decoration: none;
		}

	/*SideBar*/
	.menu{
		z-index: 99999;
	}

	.icon-menu{
		width: 30px;
		position: relative;
		float: right;
		margin: 20px 15px 0px 0;
	}
	.icon-menu .bar{
		width: 100%;
		height: 5px;
		float: left;
		border-radius: 5px;
		margin-bottom: 3px;
		background-color: #fff;
		transition: 0.2s linear;
	}
	.icon-menu{
		&.pages{
			.bar{
				background-color: #2b4d8a;
			}
		}
	}
	.sidebar{
		top: 0;
		height: 100%;
		position: fixed;
		right: -100%;
		transition: 0.6s;
		background-color: #2b4d8a;
		z-index: 99999;
		-webkit-box-shadow: -2px 2px 10px -1px rgba(0,0,0,0.75);
		-moz-box-shadow: -2px 2px 10px -1px rgba(0,0,0,0.75);
		box-shadow: -2px 2px 10px -1px rgba(0,0,0,0.75);
	}
	.icon-close{
		i{
			color: #fff;
			font-size: 22px;
			&:focus, &:hover{
				font-size: 23px;
			}
		}
		padding: 10px 20px 0 0;
	}
	.logo-sidebar{
		width: 230px;
		height: 190px;
		float: left;
		padding-left: 23px;
	}

/*
	#####################
	   MENU RESPONSIVE
	#####################
*/

/*
	############################
	   HEADER PAGES RESPONSIVE
	############################
*/


#page-loading{
	margin: 0 0 70px 0;
	i{
		color: #d1672f;
		font-size: 45px;
	}
}

#page-loading--est{
	margin: 0 0 70px 0;
	i{
		color: #d1672f;
		font-size: 45px;
	}
}


.modal-block{
	display: none;
}
.modal{
	display: none;
	&.open{
		display: block;
	}
	.modal-container{
		padding: 5px;
		background-color: #fff;
		.modal-action{
			z-index: 1000;
			border: 4px solid #fff;
			background-color: #333;
			&:hover{
				transform: none;
				background-color: #333;
			}
			i{
				font-size: 14px;
			}
		}
		.modal-block{
			display: block;
			.modal-img{
				position: relative;
				overflow: hidden;
				img{
					max-height: 50vh;
					max-width: 90vh;
				}
				.modal-content{
					background-color: #d1672f;
					position: absolute;
					bottom: 0;
					height: auto;
					padding: 25px 0 25px 0;
					.modal-text{
						p{
							margin: 0;
							font-size: 18px;
							color: #fff;
							text-transform: uppercase;
						}
					}
				}
			}
		}
	}
}


