/*
//////////////////////////////////
	Typography
//////////////////////////////////
*/
	/*
	////////////////////////////
		Variable
	///////////////////////////
	*/
			
		/*
			Colors
		======================
		*/
			@color_light: #CCC;
			@color_primary: #da4f48;
			@color_strong: #aa413b;

		/*
			Font
		======================
		*/
			@typo_regular: Arial, sans-serif;
			@typo_bold: Arial, sans-serif;
			@typo_italic: Arial, sans-serif;
			@typo_size: 16px;
			@montserrat_regular: 'montserratregular';
			@montserrat_bold: 'montserratbold';
			@roboto_light: 'robotolight';
			@opensans_light: 'open_sanslight';
			@gotham_regular: 'gotham_bookregular';

	/*
	////////////////////////////
		//Variable
	///////////////////////////
	*/


	/*
	///////////////////////////
		Settings
	///////////////////////////
	*/
		/*
			Standard
		==================
		*/
			body{
				font-family: @typo_regular;
				font-size: @typo_size;
			}

			.montserrat_regular{
				font-family: @montserrat_regular;
			}
			.montserrat_bold{
				font-family: @montserrat_bold;
			}

			.roboto_light{
				font-family: @roboto_light;
			}

			.opensans_light{
				font-family: @opensans_light;
			}

			.gotham_regular{
				font-family: @gotham_regular;
			}

	/*
	///////////////////////////
		//Settings
	///////////////////////////
	*/

	/*
	///////////////////////////
		Helpers
	///////////////////////////
	*/
		/*
		//////////////////////
			Align
		//////////////////////
		*/
			/* 
				Center
			==============	
			*/
				.text-center{
					text-align: center;
				}
			/*
				Left
			================
			*/
				.text-left{
					text-align: left;
				}
			/*
				Right
			================
			*/
				.text-right{
					text-align: right;
				}
		/*
		//////////////////////
			//Align
		//////////////////////
		*/

		/*
		//////////////////////
			Transform
		//////////////////////
		*/
			/*
				Uppercase
			================
			*/
				.text-up{
					text-transform: uppercase;
				}
			/*
				Lowercase
			================
			*/
				.text-down{
					text-transform: lowercase;
				}
		/*
		//////////////////////
			//Transform
		//////////////////////
		*/

		/*
		/////////////////////
			Title
		////////////////////
		*/
			.title{
				overflow: hidden;
				font-weight: bold;
				text-overflow: ellipsis;
				max-width: 100%;
			}
		/*
		/////////////////////
			//Title
		////////////////////
		*/
	/*
	///////////////////////////
		//Helpers
	///////////////////////////
	*/

	/*
	///////////////////////////
		Types
	///////////////////////////
	*/
		//bold
		[class^=typo-h-]{
			font-weight: bold;
			margin: 0;
			margin-top: 10px;
			margin-bottom: 15px;
		}
		//headlines
		.typo-h-1{
			font-size: 36px;
		}
		.typo-h-2{
			font-size: 30px;
		}
		.typo-h-3{
			font-size: 24px;
		}
		.typo-h-4{
			font-size: 18px;
		}
		.typo-h-5{
			font-size: 14px;
		}
		.typo-h-6{
			font-size: 12px;
		}

		//caption
		.typo-caption{
			font-size: 14px;
		}

		//paragraph
		.typo-p{
			font-size: 16px;
		}
	/*
	///////////////////////////
		//Types
	///////////////////////////
	*/

	/*
	///////////////////////////
		Display
	///////////////////////////
	*/	
		//inline
		.typo-display-i{
			display: inline;
		}

		//inline block
		.typo-display-ib{
			display: inline-block;
		}

		//block
		.typo-display-b{
			display: block;
		}
	/*
	///////////////////////////
		//Display
	///////////////////////////
	*/

	h1, h2, h3, h4, h5, h6{
		small{
			font-size: 75%;
			color: rgba(0, 0, 0, 0.7);
		}
	}

/*
//////////////////////////////////
	//Typography
//////////////////////////////////
*/

