/*
######################################
	RESPONSIVE SM
######################################
*/

	//NEXUS 7
	@media only screen and(min-width: 600px) and (max-width: 960px) and (orientation: portrait){
		/*
			######################
			   BACKGROUND HEADER
			######################
		*/

			.index{
				border-top: 11px solid #d1672f;
				background-repeat: no-repeat;
				background-size: cover;
				height: 780px;
				&.index-bkg{
					background-image: url('../images/background-home.jpg');
				}
			}

		/*
			##########################
			   //BACKGROUND HEADER
			##########################
		*/
		/*
			#####################
		   		   SECTION
			#####################
		*/
			.section{
				.section-container{
					.section-title{
						margin: 150px 0 15px 0;
						h1{
							font-size: 32px;
							line-height: 42px;
						}	
					}
					.section-content{
						margin: 0 0 30px 0;
						p{
							font-size: 20px;
							line-height: 27px;
							color: #fff;
						}
					}
					.section-button{
						a{
							display: inline-block;
							background-color: #2b4d8a;
							font-size: 14px;
							text-decoration: none;
							color: #fff;
							padding: 16px 20px 14px 20px;
							&:hover, &:focus{
								outline: none;
							}
						}
					}
				}
			}
			



		/*
			#####################
		   		 //SECTION
			#####################
		*/

		/*
			############################
			   HEADER PAGES RESPONSIVE
			############################
		*/	
			.header{
				.header-container{
					.header-logo{
						padding: 0 15px;
					}
				}
				&.pages{
					.header-container{
						padding: 11px 0 8px 0;
						.header-logo{
							&.container{
								padding: 0;
							}
							a{
								img{
									margin: 0;
									width: 190px;
									height: auto;
								}
							}
						}
						.mobile-menu{
							.menu{
								.icon-menu{
									margin: 8px 15px 0 0;
								}
							}
							.sidebar{
								top: 0;
							}
						}
					}
				}
			}
		/*
			############################
			 //HEADER PAGES RESPONSIVE
			############################
		*/



		/*
			####################
			    ARTICLE
			####################
		*/

			.article{
				.article-container{
					.article-post{
						padding: 0 15px;
						margin: 0 0 20px 0;
						&.col-lg-3{
							width: 49.65%!important;
						}
						.article-post--img{
							width: 260px;
							height: 260px;
						}
						.article-post--content{
							p{
								line-height: 24px;
								font-size: 16px;
							}
						}
					}
				}
			}

		/*
			####################
			    //ARTICLE
			####################
		*/

		/*
			####################
			       ASIDE
			####################
		*/
			
			.aside-container{
				.aside-title{
					margin: 25px 0 20px 0;
					h1{
						line-height: 27px;
						font-size: 22px;
					}
				}
				.aside-content{
					p{
						line-height: 24px;
						font-size: 16px;
					}
				}
			}
			.aside-produtos--plus{
				a{
					font-size: 18px;
				}
			}


		/*
			####################
			      //ASIDE
			####################
		*/


		/*
			####################
			      CONTATO
			####################
		*/

			.contato{
				margin: 40px 0;
				.contato-block--left{
					margin: 0 0 40px 0;
					&.left{
						float: initial;
					}
				}
				.contato-form{
					&.right{
						float: initial;
					}
					.container{
						padding: 0;
					}
					.form-align{
						margin-bottom: 25px !important;
						.form-field{
							p{
								font-size: 16px;
							}
							margin: 0 0 30px 0;
						}
					}
					.form-field{
						p{
							font-size: 16px;
						}
					}
					.button-contato{
						margin: 50px 0 0 0;
						.form-field{
							button{
								font-size: 16px;
							}
						}
					}
				}
			}


		/*
			####################
			     //CONTATO
			####################
		*/

		/*
			####################
			       FOOTER
			####################
		*/

			.footer{
				.footer-aling{
					margin: 20px 0 0 0;
					.mobile-space{
						.footer-top{
							margin: 20px 0 0 0;
							text-align: center;
						}
						.container{
							padding: 0;
						}
						&.container{
							padding: 0;
						}
						.footer-logo{
							margin: 0;
							&.container{
								padding: 0;
							}
						}
					}
					.mobile-space-social{
						margin: 20px 0 0 0;
						&.col-xs-12{
							width: 52.98%;
						}
					}
					.footer-list--border{
						&.col-xs-12{
							width: 44.98%;
						}
						border-left: 0;
						&.container{
							padding: 0;
						}
						.footer-list{
							margin: 20px 0;
							&.container{
								padding: 0;
							}
						}
					}

				}

			}
			.footer-black{
				padding: 25px 0 15px 0;
				.footer-black--copiryght{
					margin: 0 0 8px 0;
					&.left{
						float: initial;
					}
					p{
						font-size: 10px;
						text-align: center;
					}
				}
				.footer-black--developer{
					.col-xs-3{
						width: 32.99%;
					}
					&.col-xs-6{
						width: 20.98%;
					}
					margin: 0 auto;
					&.right{
						float: initial;
					}
					.logo-w18{
						&.right{
							float: left;
						}
					}
				}
			}



		/*
			####################
			      //FOOTER
			####################
		*/

		/*
			####################
		        FALE CONOSCO
			####################
		*/

			.fale-conosco{
				.fale-conosco--container{
					margin: 0 0 30px 0;
					.fale-conosco--locais{
						margin: 0 0 25px 0;
						&.col-xs-12{
							width: 49.98%;
						}
					}
				}
			}


		/*
			####################
		       //FALE CONOSCO
			####################
		*/

		/*
			####################
			  	  SERVIÇOS
			####################
		*/
			.servicos{
				.servicos-title{
					margin: 35px 0 0 0;
					h1{
						font-size: 22px;
					}
				}
				.servicos-content{
					margin: 20px 0 35px 0;
					p{
						font-size: 16px;
					}
				}
				.servicos-list{
					.servicos-container{
						height: 0;
						.servicos-container--img{
							height: auto;
						}
						.servicos-container--posts{
							padding: 30px 0;
							background-color: #2b4d8a;
							.servicos-container--posts-align{
								padding: 0 15px;
								.posts-serv--title{
									h1{
										font-size: 22px;
										line-height: 27px;
									}
									margin: 15px 0 20px 0;
								}
								.posts-serv--content{
									margin: 0 0 40px 0;
									p{
										font-size: 16px;
									}
								}
							}
						}
					}
					.servicos-container:nth-child(even){
						.servicos-container--posts{
							.servicos-container--posts-align{
								padding: 0 15px;
							}
						}
					}
				}
			}


		/*
			####################
			  	 //SERVIÇOS
			####################
		*/

		/*
			####################
			  	 PRODUTOS
			####################
		*/
			.produtos{
				.container{
					padding: 0 15px;
				}
				.mobile-space{
					&.container{
						padding: 0;
					}
					.produtos-title{
						margin: 40px 0 0 0;
						h1{
							font-size: 22px;
						}
					}
					.produtos-subtitle{
						margin: 15px 0 25px;
						h2{
							font-size: 18px;
						}
					}
					.produtos-content{
						margin: 0 0 45px 0;
						p{
							font-size: 16px;
						}
					}
				}
				.produtos-align{
					.produtos-posts{
						&.col-xs-12{
							width: 49.98%;
						}
						&.container{
							padding: 0;
						}
						.produtos-posts--img{
							width: 270px;
							height: 270px;
						}
					}
				}
			}



		/*
			####################
			  	//PRODUTOS
			####################
		*/

		/*
			####################
			  	ESTRUTURA
			####################
		*/
			.estrutura{
				margin: 40px 0 0 0;
				.mobile-space{
					&.container{
						padding: 0;
					}
				}
				.estrutura-title{
					h1{
						font-size: 22px;
					}
				}
				.estrutura-subtitle{
					h2{
						font-size: 18px;
					}
				}
				.estrutura-content{
					margin: 0 0 45px 0;
				}

				.estrutura-posts--align{
					margin: 0 0 20px 0;
					.estrutura-posts{
						&.container{
							padding: 0;	
						}
						.posts-img{
							width: 355px;
							height: 355px;
						}
					}
				}
				.estrutura-plus{
					margin: 0 0 35px 0;
				}
			}
		/*
			####################
			  	//ESTRUTURA
			####################
		*/

		/*
			####################
			   MEIO AMBIENTE
			####################
		*/
			.meio-amb{
				margin-bottom: 40px;
				.meio-amb--title{
					margin: 25px 0 20px;
					h1{
						font-size: 22px;
					}
				}
				.meio-amb--content{
					margin-bottom: 50px;
					p{
						font-size: 16px;
						line-height: 26px;
					}
				}
				.meio-amb--circle{
					margin: 0 0 15px 0;
				}
				.mobile-space{
					&.col-sm-2{
						width: 24.66% !important;
					}
				}
				.meio-amb--circle{
					&.meio-amb--img{
						nav{
							ul{
								margin: 0;
								padding: 0;
								li{
									margin: 0 68px 25px 0;
									display: inline-block;
									border-radius: 50%;
									width: 108px;
									height: 108px;
									overflow: hidden;
									&:last-child{
										margin: 0 0 25px 0;
									}
									img{
										min-width: 100%;
										min-height: 100%;
										max-width: 150%;
									}	
								}
							}
						}
					}			
				}
			}
		/*
			####################
			  //MEIO AMBIENTE
			####################
		*/

		/*
			#####################
			      ESTRUTURA
			#####################
		*/
			.estrutura{
				.estrutura-posts--align{
					.estrutura-posts{
						&.col-xs-12{
							width: 49.98%;
						}
						.posts-img{
							width: 270px;
							height: 270px;								
						}
					}
				}
			}

		/*
			#####################
			    //ESTRUTURA
			#####################
		*/

	}

	@media only screen and(min-width: 600px) and (max-width: 960px) and (orientation: landscape){
		/*
			#####################
			      ESTRUTURA
			#####################
		*/
			.estrutura{
				.estrutura-posts--align{
					.estrutura-posts{
						&.col-xs-12{
							width: 49.98%;
						}
						.posts-img{
							width: 270px;
							height: 270px;								
						}
					}
				}
			}

		/*
			#####################
			    //ESTRUTURA
			#####################
		*/
		/*
			####################
			   MEIO AMBIENTE
			####################
		*/
			.meio-amb{
				margin-bottom: 40px;
				.meio-amb--title{
					margin: 25px 0 20px;
					h1{
						font-size: 22px;
					}
				}
				.meio-amb--content{
					margin-bottom: 50px;
					p{
						font-size: 16px;
						line-height: 26px;
					}
				}
				.meio-amb--circle{
					margin: 0 0 15px 0;
				}
				.mobile-space{
					&.col-sm-2{
						width: 24.66% !important;
					}
				}
				.meio-amb--circle{
					&.meio-amb--img{
						nav{
							ul{
								margin: 0;
								padding: 0;
								li{
									margin: 0 90px 25px 0 !important;
									display: inline-block;
									border-radius: 50%;
									width: 108px;
									height: 108px;
									overflow: hidden;
									&:last-child{
										margin: 0 0 25px 0 !important;
									}
									img{
										min-width: 100%;
										min-height: 100%;
										max-width: 150%;
									}	
								}
							}
						}
					}			
				}
			}
		/*
			####################
			  //MEIO AMBIENTE
			####################
		*/
	}

	//Tablet Portrait (Modo retrado)
	@media only screen and(min-width: 768px) and (max-width: 1024px) and (orientation: portrait){	
		/*
			######################
			   BACKGROUND HEADER
			######################
		*/

			.index{
				height: 905px;
			}

		/*
			##########################
			   //BACKGROUND HEADER
			##########################
		*/


		/*
			############################
			   HEADER PAGES RESPONSIVE
			############################
		*/	
			.header{
				.header-container{
					.header-logo{
						padding: 0 15px;
					}
				}
				&.pages{
					.header-container{
						padding: 11px 0 8px 0;
						.header-logo{
							&.container{
								padding: 0;
							}
							a{
								img{
									margin: 0;
									width: 190px;
									height: auto;
								}
							}
						}
						.mobile-menu{
							.menu{
								.icon-menu{
									margin: 8px 15px 0 0;
								}
							}
							.sidebar{
								top: 0;
							}
						}
					}
				}
			}
		/*
			############################
			 //HEADER PAGES RESPONSIVE
			############################
		*/



		/*
			####################
			    ARTICLE
			####################
		*/

			.article{
				.article-container{
					.article-post{
						padding: 0 15px;
						margin: 0 0 20px 0;
						&.col-lg-3{
							width: 49.65%!important;
						}
						.article-post--content{
							p{
								line-height: 24px;
								font-size: 16px;
							}
						}
					}
				}
			}

		/*
			####################
			    //ARTICLE
			####################
		*/

		/*
			####################
			       ASIDE
			####################
		*/
			.aside{
				.aside{
					&.aside-bkg1{
						height: auto;
					}
					&.aside-bkg2{
						height: auto;
					}
				}
			}
			.aside-container{
				.aside-title{
					margin: 25px 0 20px 0;
					h1{
						line-height: 27px;
						font-size: 22px;
					}
				}
				.aside-content{
					p{
						line-height: 24px;
						font-size: 16px;
					}
				}
			}
			.aside-produtos--plus{
				a{
					font-size: 18px;
				}
			}


		/*
			####################
			      //ASIDE
			####################
		*/


		/*
			####################
			      CONTATO
			####################
		*/

			.contato{
				margin: 40px 0;
				.contato-block--left{
					margin: 0 0 40px 0;
					&.left{
						float: initial;
					}
				}
				.contato-form{
					&.right{
						float: initial;
					}
					.montserrat_regular{
						&.container{
							padding: 0;
						}
					}
					.container{
						padding: 0 30px 0 0;
						&:nth-child(2){
							padding: 0;
						}
					}
					.form-align{
						margin-bottom: 0 !important;
						.form-field{
							p{
								font-size: 16px;
							}
							margin: 0 0 30px 0;
							&.col-xs-12{
								width: 49.98% !important;
							}
						}						
					}
					.form-align:nth-child(2){
						margin-bottom: 0 !important;
						.form-field{
							p{
								font-size: 16px;
							}
							margin: 0 0 30px 0;
							&.col-xs-12{
								width: 32.98% !important;
							}
						}
						.form-field:nth-child(2){
							&.container{
								padding: 0 30px 0 0;
							}
						}
						.form-field:nth-child(3){
							&.container{
								padding: 0;
							}
						}
					}
					.form-field{
						p{
							font-size: 16px;
						}
						&.mobile-space{
							&.container{
								padding: 0;
							}
						}
					}
					.button-contato{
						margin: 50px 0 0 0;
						.form-field{
							button{
								font-size: 16px;
							}
						}
					}
				}
			}


		/*
			####################
			     //CONTATO
			####################
		*/

		/*
			####################
			       FOOTER
			####################
		*/

			.footer{
				.footer-aling{
					margin: 0;
					.mobile-space{
						.footer-top{
							margin: 20px 0 0 0;
							text-align: center;
						}
						.container{
							padding: 0;
						}
						&.container{
							padding: 0;
						}
						.footer-logo{
							margin: 0;
							&.container{
								padding: 0;
							}
						}
					}
					.mobile-space-social{
						margin: 20px 0 0 0;
					}
					.footer-list--border{
						border-left: 0;
						&.container{
							padding: 0;
						}
						.footer-list{
							margin: 20px 0;
							&.container{
								padding: 0;
							}
						}
					}

				}

			}
			.footer-black{
				padding: 25px 0 15px 0;
				.footer-black--copiryght{
					margin: 0 0 8px 0;
					&.left{
						float: initial;
					}
					p{
						font-size: 10px;
						text-align: center;
					}
				}
				.footer-black--developer{
					margin: 0 auto;
					&.right{
						float: initial;
					}
					.logo-w18{
						&.right{
							float: left;
						}
					}
				}
			}



		/*
			####################
			      //FOOTER
			####################
		*/

		/*
			####################
		        FALE CONOSCO
			####################
		*/

			.fale-conosco{
				.fale-conosco--container{
					margin: 0 0 30px 0;
					.fale-conosco--locais{
						margin: 0 0 25px 0;
					}
				}
			}


		/*
			####################
		       //FALE CONOSCO
			####################
		*/

		/*
			####################
			  	  SERVIÇOS
			####################
		*/
			.servicos{
				.servicos-title{
					margin: 35px 0 0 0;
					h1{
						font-size: 22px;
					}
				}
				.servicos-content{
					margin: 20px 0 35px 0;
					p{
						font-size: 16px;
					}
				}
				.servicos-list{
					.servicos-container{
						height: 0;
						.servicos-container--img{
							height: auto;
						}
						.servicos-container--posts{
							padding: 30px 0;
							background-color: #2b4d8a;
							.servicos-container--posts-align{
								padding: 0 15px;
								.posts-serv--title{
									h1{
										font-size: 22px;
										line-height: 27px;
									}
									margin: 15px 0 20px 0;
								}
								.posts-serv--content{
									margin: 0 0 40px 0;
									p{
										font-size: 16px;
									}
								}
							}
						}
					}
					.servicos-container:nth-child(even){
						.servicos-container--posts{
							.servicos-container--posts-align{
								padding: 0 15px;
							}
						}
					}
				}
			}


		/*
			####################
			  	 //SERVIÇOS
			####################
		*/

		/*
			####################
			  	 PRODUTOS
			####################
		*/
			.produtos{
				.container{
					padding: 0 15px;
				}
				.mobile-space{
					&.container{
						padding: 0;
					}
					.produtos-title{
						margin: 40px 0 0 0;
						h1{
							font-size: 22px;
						}
					}
					.produtos-subtitle{
						margin: 15px 0 25px;
						h2{
							font-size: 18px;
						}
					}
					.produtos-content{
						margin: 0 0 45px 0;
						p{
							font-size: 16px;
						}
					}
				}
				.produtos-align{
					.produtos-posts{
						&.container{
							padding: 0;
						}
						.produtos-posts--img{
							width: 340px;
							height: 340px;
						}
					}
				}
			}



		/*
			####################
			  	//PRODUTOS
			####################
		*/

		/*
			####################
			  	ESTRUTURA
			####################
		*/
			.estrutura{
				margin: 40px 0 0 0;
				.mobile-space{
					&.container{
						padding: 0;
					}
				}
				.estrutura-title{
					h1{
						font-size: 22px;
					}
				}
				.estrutura-subtitle{
					h2{
						font-size: 18px;
					}
				}
				.estrutura-content{
					margin: 0 0 45px 0;
				}

				.estrutura-posts--align{
					margin: 0 0 20px 0;
					.estrutura-posts{
						&.container{
							padding: 0;	
						}
						.posts-img{
							width: 355px;
							height: 355px;
						}
					}
				}
				.estrutura-plus{
					margin: 0 0 35px 0;
				}
			}
		/*
			####################
			  	//ESTRUTURA
			####################
		*/

		/*
			####################
			   MEIO AMBIENTE
			####################
		*/
			.meio-amb{
				margin-bottom: 40px;
				.meio-amb--title{
					margin: 25px 0 20px;
					h1{
						font-size: 22px;
					}
				}
				.meio-amb--content{
					margin-bottom: 50px;
					p{
						font-size: 16px;
						line-height: 26px;
					}
				}
				.mobile-space{
					&.container{
						padding: 0;
					}
				}
				.meio-amb--circle{
					&.text-center{
						text-align: initial;
					}
					&.meio-amb--img{
						nav{
							ul{
								margin: 0;
								padding: 0;
								li{
									margin: 0 44px 20px 0;
									display: inline-block;
									border-radius: 50%;
									width: 108px;
									height: 108px;
									overflow: hidden;
									&:last-child{
										margin: 0 0 20px 0;
									}
									img{
										min-width: 100%;
										min-height: 100%;
										max-width: 150%;
									}	
								}
							}
						}
					}			
				}
			}
		/*
			####################
			  //MEIO AMBIENTE
			####################
		*/
	}
	//Tablet Geral LANDSCAPE
	@media only screen and(min-width: 768px) and (max-width: 1024px) and (orientation: landscape){
		/*
			####################
			      ASIDE
			####################
		*/

			.aside{
				.aside{
					&.aside-bkg1{
						height: auto;
					}
					&.aside-bkg2{
						height: auto;
					}
				}
			}

		/*
			####################
			     //ASIDE
			####################
		*/

		/*
			####################
			    ARTICLE
			####################
		*/

			.article{
				.article-container{
					.article-post{
						margin: 0 45px 20px 0;
						&.col-lg-3{
							width: 27.99%!important;
						}
						.article-post--content{
							&.col-md-7{
								width: 99.96%!important;
							}
						}
						.article-post--title{
							&.col-md-7{
								width: 99.96%!important;
							}
						}

					}
				}
			}

		/*
			####################
			    //ARTICLE
			####################
		*/

		/*
			####################
			   MEIO AMBIENTE
			####################
		*/
			.meio-amb{
				margin-bottom: 40px;
				.meio-amb--title{
					margin: 25px 0 20px;
					h1{
						font-size: 22px;
					}
				}
				.meio-amb--content{
					margin-bottom: 50px;
					p{
						font-size: 16px;
						line-height: 26px;
					}
				}
				.meio-amb--circle{
					margin: 0 0 15px 0;
				}
				.mobile-space{
					&.col-sm-2{
						width: 19.66% !important;
					}
				}
			}
		/*
			####################
			  //MEIO AMBIENTE
			####################
		*/
		/*
			######################
			   BACKGROUND HEADER
			######################
		*/

			.index{
				border-top: 11px solid #d1672f;
				background-repeat: no-repeat;
				background-size: cover;
				height: 586px;
				&.index-bkg{
					background-image: url('../images/background-home.jpg');
				}
			}

		/*
			##########################
			   //BACKGROUND HEADER
			##########################
		*/

		/*
			#####################
		   		   SECTION
			#####################
		*/
			.section{
				.section-container{
					.section-title{
						display: inline-block;
						margin: 108px 0 15px 0;
						h1{
							margin: 0;
							font-size: 31px;
							line-height: 35px;
							color: #fff;
							text-transform: uppercase;
						}	
					}
					.section-content{
						margin: 0 0 25px 0;
						p{
							margin: 0;
							font-size: 16px;
							line-height: 22px;
							color: #fff;
						}
					}
					.section-button{
						a{
							display: inline-block;
							background-color: #2b4d8a;
							font-size: 14px;
							text-decoration: none;
							color: #fff;
							padding: 16px 20px 14px 20px;
							&:hover, &:focus{
								outline: none;
							}
						}
					}
				}
			}
			



		/*
			#####################
		   		 //SECTION
			#####################
		*/
		/*
			############################
			   HEADER PAGES RESPONSIVE
			############################
		*/	
			.header{
				.header-container{
						padding: 11px 0 8px 0;
						.header-logo{
							padding: 10px 15px 0;
						}
					}
				&.pages{
					.header-container{
						padding: 11px 0 8px 0;
						.header-logo{
							&.container{
								padding: 0;
							}
							a{
								img{
									margin: 0;
									width: 220px;
									height: auto;
								}
							}
						}
						.mobile-menu{
							.menu{
								.icon-menu{
									margin: 8px 15px 0 0;
								}
							}
							.sidebar{
								top: 0;
							}
						}
					}
				}
			}




		/*
			############################
			 //HEADER PAGES RESPONSIVE
			############################
		*/

		/*
			####################
			  	 PRODUTOS
			####################
		*/
			.produtos{
				.produtos-align{
					.produtos-posts{
						&.container{
							padding: 0;
						}
						&.col-xs-12{
							width: 33.32% !important;
						}
						.produtos-posts--img{
							width: 300px !important;
							height: 300px !important; 
						}
					}
				}
			}



		/*
			####################
			  	//PRODUTOS
			####################
		*/

		/*
			####################
			  	ESTRUTURA
			####################
		*/
			.estrutura{
				.estrutura-posts--align{
					margin: 0 0 20px 0;
					.estrutura-posts{
						&.col-xs-12{
							width: 33.32% !important;
						}
						&.container{
							padding: 0;	
						}
						.posts-img{
							width: 300px !important;
							height: 300px !important;
						}
					}
				}
				.estrutura-plus{
					margin: 0 0 35px 0;
				}
			}
		/*
			####################
			  	//ESTRUTURA
			####################
		*/

		/*
			#####################
			    INSTITUCIONAL
			#####################
		*/
			.institucional-container{
				padding: 0 30px;
			}

		/*
			#####################
			   //INSTITUCIONAL
			#####################
		*/

		/*
			####################
			      CONTATO
			####################
		*/

			.contato{
				margin: 40px 0;
				.contato-block--left{
					margin: 0 0 40px 0;
					&.left{
						float: initial;
					}
				}
				.contato-form{
					&.right{
						float: initial;
					}
					.montserrat_regular{
						&.container{
							padding: 0;
						}
					}
					.container{
						padding: 0 30px 0 0;
						&:nth-child(2){
							padding: 0;
						}
					}
					.form-align{
						margin-bottom: 0 !important;
						.form-field{
							p{
								font-size: 16px;
							}
							margin: 0 0 30px 0;
							&.col-xs-12{
								width: 49.98% !important;
							}
						}						
					}
					.form-align:nth-child(2){
						margin-bottom: 0 !important;
						.form-field{
							p{
								font-size: 16px;
							}
							margin: 0 0 30px 0;
							&.col-xs-12{
								width: 32.98% !important;
							}
						}
						.form-field:nth-child(2){
							&.container{
								padding: 0 30px 0 0;
							}
						}
						.form-field:nth-child(3){
							&.container{
								padding: 0;
							}
						}
					}
					.form-field{
						p{
							font-size: 16px;
						}
						&.mobile-space{
							&.container{
								padding: 0;
							}
						}
					}
					.button-contato{
						margin: 50px 0 0 0;
						.form-field{
							button{
								font-size: 16px;
							}
						}
					}
				}
			}


		/*
			####################
			     //CONTATO
			####################
		*/

		/*
			####################
			       FOOTER
			####################
		*/

			.footer{
				.footer-aling{
					margin: 0;
					.mobile-space{
						.footer-top{
							margin: 20px 0 0 0;
							text-align: center;
						}
						.container{
							padding: 0;
						}
						&.container{
							padding: 0;
						}
						.footer-logo{
							margin: 0;
							&.container{
								padding: 0;
							}
						}
					}
					.mobile-space-social{
						margin: 20px 0 0 0;
					}
					.footer-list--border{
						border-left: 0;
						&.container{
							padding: 0;
						}
						.footer-list{
							margin: 20px 0;
							&.container{
								padding: 0;
							}
						}
					}

				}

			}
			.footer-black{
				padding: 25px 0 15px 0;
				.footer-black--copiryght{
					margin: 0 0 8px 0;
					&.left{
						float: initial;
					}
					p{
						font-size: 10px;
						text-align: center;
					}
				}
				.footer-black--developer{
					margin: 0 auto;
					&.right{
						float: initial;
					}
					.logo-w18{
						&.right{
							float: left;
						}
					}
				}
			}



		/*
			####################
			      //FOOTER
			####################
		*/

		/*
			####################
			   MEIO AMBIENTE
			####################
		*/
			.meio-amb{
				margin-bottom: 40px;
				.meio-amb--title{
					margin: 25px 0 20px;
					h1{
						font-size: 22px;
					}
				}
				.meio-amb--content{
					margin-bottom: 50px;
					p{
						font-size: 16px;
						line-height: 26px;
					}
				}
				.mobile-space{
					&.container{
						padding: 0;
					}
				}
				.meio-amb--circle{
					&.text-center{
						text-align: initial;
					}
					&.meio-amb--img{
						nav{
							ul{
								margin: 0;
								padding: 0;
								li{
									margin: 0 105px 20px 0;
									display: inline-block;
									border-radius: 50%;
									width: 108px;
									height: 108px;
									overflow: hidden;
									&:last-child{
										margin: 0 0 20px 0;
									}
									img{
										min-width: 100%;
										min-height: 100%;
										max-width: 150%;
									}	
								}
							}
						}
					}			
				}
			}
		/*
			####################
			  //MEIO AMBIENTE
			####################
		*/
	}	

	@media only screen and(min-width: 1024px) and (max-width: 1366px) and (orientation: portrait){
		/*
			######################
			   BACKGROUND HEADER
			######################
		*/

			.index{
				height: 580px;
			}

		/*
			##########################
			   //BACKGROUND HEADER
			##########################
		*/

		/*
			######################
					HEADER
			######################
		*/
			.header{
				.header-container{
					.header-logo{
						&.col-xs-6{
							width: 25.98%;
						}
						a{
							img{
								padding: 0;
								width: 230px;
								height: auto;
							}
						}
					}
					.header-list{
						&.index-list{
							nav{
								ul{
									li{
										a{
											color: #fff;
										}
									}
								}
							}
						}
						nav{
							ul{
								li{
									margin: 0 30px 0 0;
								}
							}
						}
					}
				}
			}

		/*
			######################
					HEADER
			######################
		*/

		/*
			#####################
		   		   SECTION
			#####################
		*/
			.section{
				.section-container{
					.section-title{
						margin: 70px 0 15px;
					}
				}
			}
		/*
			#####################
		   		   SECTION
			#####################
		*/	
		/*
			#####################
		   		 ARTICLE
			#####################
		*/
			.article{
				.article-container{
					margin-bottom: 80px;
					.article-post{
						&.col-lg-3{
							width: 32.65%!important;
						}
						.article-post--img{
							width: 280px;
							height: 210px;
							overflow: hidden;
							img{
								min-width: 100%;
								min-height: 100%;
								max-width: 150%;
							}
						}
						.article-post--title{
							&.col-md-7{
								width: 95.31%!important;
							}
						}
						.article-post--content{
							&.col-md-7{
								width: 95.31%!important;
							}
						}
					}
					
				}
				.article-plus{
					margin-bottom: 90px;
					a{
						line-height: 24px;
						display: inline-block;
						font-size: 22px;
						color: #2b4d8a;
						padding: 15px 35px 12px;
						border: 2px solid #d1672f;
						text-decoration: none;
						&:hover, &:focus{
							background-color: #d1672f;
							color: #fff;
							outline: none;
						}
					}
				}
			}


		/*
			#####################
		   		 //ARTICLE
			#####################
		*/

		/*
			#####################
			    INSTITUCIONAL
			#####################
		*/
			.institucional-container{
				padding: 0 30px;
			}

		/*
			#####################
			   //INSTITUCIONAL
			#####################
		*/

		/*
			#####################
			      PRODUTOS
			#####################
		*/
			
			.produtos{
				.produtos-align{
					.produtos-posts{
						&.col-xs-12{
							width: 33.32%;
						}
						.produtos-posts--img{
							width: 290px;
							height: 290px;
						}
					}
				}
			}

		/*
			#####################
			      PRODUTOS
			#####################
		*/
		/*
			#####################
			      ESTRUTURA
			#####################
		*/
			.estrutura{
				.estrutura-posts--align{
					.estrutura-posts{
						&.col-xs-12{
							width: 33.32%;
						}
						.posts-img{
							width: 290px;
							height: 290px;
						}
					}
				}
			}

		/*
			#####################
			    //ESTRUTURA
			#####################
		*/

		/*
			####################
			      CONTATO
			####################
		*/

			.contato{
				margin: 40px 0;
				.contato-block--left{
					margin: 0 0 40px 0;
					&.left{
						float: initial;
					}
				}
				.contato-form{
					&.right{
						float: initial;
					}
					.montserrat_regular{
						&.container{
							padding: 0;
						}
					}
					.container{
						padding: 0 30px 0 0;
						&:nth-child(2){
							padding: 0;
						}
					}
					.form-align{
						margin-bottom: 0 !important;
						.form-field{
							p{
								font-size: 16px;
							}
							margin: 0 0 30px 0;
							&.col-xs-12{
								width: 49.98%;
							}
						}						
					}
					.form-align:nth-child(2){
						margin-bottom: 0 !important;
						.form-field{
							p{
								font-size: 16px;
							}
							margin: 0 0 30px 0;
							&.col-xs-12{
								width: 32.98%;
							}
						}
						.form-field:nth-child(2){
							&.container{
								padding: 0 30px 0 0;
							}
						}
						.form-field:nth-child(3){
							&.container{
								padding: 0;
							}
						}
					}
					.form-field{
						p{
							font-size: 16px;
						}
						&.mobile-space{
							&.container{
								padding: 0;
							}
						}
					}
					.button-contato{
						margin: 50px 0 0 0;
						.form-field{
							button{
								font-size: 16px;
							}
						}
					}
				}
			}


		/*
			####################
			     //CONTATO
			####################
		*/
	}