/*
######################################
	RESPONSIVE MD
######################################
*/
	//Notebook Geral
	@media only screen and(min-width: 1024px) and (max-width: 1440px){
		
	}
	//Notebook 16'
	@media only screen and(min-width: 1280px) and (max-width: 1440px){
	
	}
	//Notebook 14'
	@media only screen and(min-width: 1024px) and (max-width: 1280px){
	}

	//Notebook Apple'
	@media only screen and(min-width: 800px) and (max-width: 1280px){
		/*
			######################
					HEADER
			######################
		*/
			.header{
				.header-container{
					.header-logo{
						a{
							img{
								padding: 0 15px;
							}
						}
					}
					padding: 30px 0 0 0;
					.header-list{
						&.col-lg-6{
							width: 53.98%!important;
						}
					}
					.link-portal{
						&.col-lg-3{
							width: 18.99%!important;
						}
					}
				}
			}

		/*
			######################
					HEADER
			######################
		*/

		/*
			#####################
		   		   SECTION
			#####################
		*/
			.section{
				.section-container{
					.section-title{
						display: inline-block;
						margin: 125px 0 15px 0;
					}
				}
			}
			



		/*
			#####################
		   		 //SECTION
			#####################
		*/
		/*
			######################
			   BACKGROUND HEADER
			######################
		*/

			.index{
				height: 735px;
			}

		/*
			##########################
			   //BACKGROUND HEADER
			##########################
		*/
		/*
			####################
			  	  SERVIÇOS
			####################
		*/
			.servicos{
				.servicos-title{
					margin: 35px 0 0 0;
					h1{
						font-size: 22px;
					}
				}
				.servicos-content{
					margin: 20px 0 35px 0;
					p{
						font-size: 16px;
					}
				}
				.servicos-list{
					.servicos-container{
						.servicos-container--posts{
							background-color: #2b4d8a;
							.servicos-container--posts-align{
								.col-lg-6{
									width: 58.31%!important;
								}
								padding: 0 0 0 40px;
								.posts-serv--title{
									h1{
										font-size: 22px;
										line-height: 27px;
									}
									margin: 70px 0 20px 0;
								}
								.posts-serv--content{
									margin: 0 0 40px 0;
									p{
										font-size: 16px;
									}
								}
							}
						}
					}
					.servicos-container:nth-child(even){
						.servicos-container--posts{
							.servicos-container--posts-align{
								padding:  0 40px 0 0;
							}
						}
					}
				}
			}


		/*
			####################
			  	 //SERVIÇOS
			####################
		*/

		/*
			####################
			    ARTICLE
			####################
		*/

			.article{
				.article-container{
					.article-post{
						margin: 0 45px 0 0;
					}
				}
			}

		/*
			####################
			    //ARTICLE
			####################
		*/
	}
/*
######################################
	//RESPONSIVE MD
######################################
*/