/*
######################################
	RESPONSIVE XS
######################################
*/

	
	//Mobile Portrait (Modo retrado)
	@media only screen and(min-width: 320px) and (max-width: 414px) and (orientation: portrait){




		/*
			####################
			       MODAL
			####################
		*/

			.modal{
				.modal-container{
					.modal-block{
						display: block;
						.modal-img{
							.modal-content{
								padding: 15px 0;
								.modal-text{
									p{
										margin: 0;
										font-size: 18px;
										color: #fff;
										text-transform: uppercase;
									}
								}
							}
						}
					}
				}
			}

		/*
			####################
			     //MODAL
			####################
		*/

		/*
			####################
			  INDEX BACKGROUND
			####################
		*/
			.index{
				height: 510px;
			}
		/*
			####################
			 //INDEX BACKGROUND
			####################
		*/

		/*
			####################
			 	   HEADER
			####################
		*/
			.header{
				&.header-scroll{
					.header-container{
						padding: 0;
						.header-logo{
							img{
								margin: 0 0 0 15px;
								width: 180px;
								height: auto;
							}
						}
						.mobile-menu{
							.menu{
								.icon-menu{
									margin: 8px 15px 0 0;
									.bar{
										background-color: #fff;
									}
								}
							}
							.sidebar{
								top: 0;
							}
						}
					}
				}
				.header-container{
					.header-logo{
						img{
							width: 190px;
							margin: 15px 0 0 15px;
						}
					}
					.mobile-menu{
						.menu{
							.icon-menu{
								margin: 20px 15px 0 0;
							}
						}
						.sidebar{
							top: 0;
						}
					}
				}
			}
		/*
			####################
			 	  //HEADER
			####################
		*/


		/*
			############################
			   HEADER PAGES RESPONSIVE
			############################
		*/	
			.header{
				&.pages{
					.header-container{
						padding: 11px 0 8px 0;
						.header-logo{
							&.container{
								padding: 0;
							}
							a{
								img{
									margin: 0;
									width: 190px;
									height: auto;
								}
							}
						}
						.mobile-menu{
							.menu{
								.icon-menu{
									margin: 8px 15px 0 0;
								}
							}
							.sidebar{
								top: 0;
							}
						}
					}
				}
			}




		/*
			############################
			 //HEADER PAGES RESPONSIVE
			############################
		*/

		/*
			####################
			 	  SECTION
			####################
		*/
			.section{
				.section-container{
					.section-title{
						margin: 70px 0 15px;
						h1{
							font-size: 22px;
						}
					}
					.section-button{
						a{
							padding: 14px 18px 12px;
						}
					}
				}
			}
		/*
			####################
			 	 //SECTION
			####################
		*/

		/*
			####################
			 	  ARTICLE
			####################
		*/
			.article{
				.article-title{
					margin: 30px 0 30px 0;
					h1{
						line-height: 27px;
						font-size: 22px;
					}
				}
				.article-container{
					margin-bottom: 40px;
					.article-post{
						margin: 0 0 25px 0;
						&.col-lg-3{
							width: 99.96% !important;
						}
						.article-post--img{
							width: 100%;
							height: auto;
						}
						.article-post--title{
							h1{
								margin: 20px 0 15px 0;
								font-size: 18px;
							}
						}
					}
				}
				.article-plus{
					margin-bottom: 50px;
					a{
						font-size: 18px;
					}
				}
			}
		/*
			####################
			 	 //ARTICLE
			####################
		*/
		/*
			####################
			 	   ASIDE
			####################
		*/
			.aside{
				&.aside-bkg1{
					height: auto;
				}
				&.aside-bkg2{
					height: auto;
				}
			}
			.aside-container{
				.aside-title{
					margin: 25px 0 20px 0;
					h1{
						line-height: 27px;
						font-size: 22px;
					}
				}
				.aside-content{
					margin: 0 0 20px 0;
					p{
						line-height: 22px;
						font-size: 14px;
					}
				}
			}
				/*
					#####################
				   		ASIDE PRODUTOS
					#####################
				*/
					.aside-produtos{
						margin: 20px 0 30px 0;
						.aside-produtos--list{
							nav{
								ul{
									li{
										margin-bottom: 12px;
										font-size: 14px;
									}
								}
							}
						}
					}

					.aside-produtos--plus{
						margin: 0 0 20px 0;
						a{
							font-size: 18px;
						}
					}
				/*
					#####################
				   	   //ASIDE PRODUTOS
					#####################
				*/
		/*
			####################
			 	 //ASIDE
			####################
		*/


		/*
			####################
			   MEIO AMBIENTE
			####################
		*/
			.meio-amb{
				margin-bottom: 40px;
				.meio-amb--title{
					margin: 25px 0 20px;
					h1{
						font-size: 22px;
					}
				}
				.meio-amb--content{
					margin-bottom: 50px;
					p{
						font-size: 14px;
						line-height: 22px;
					}
				}
				.meio-amb--circle{
					margin: 0 0 15px 0;
				}
			}
		/*
			####################
			  //MEIO AMBIENTE
			####################
		*/

		/*
			####################
			    FALE CONOSCO
			####################
		*/
			.fale-conosco{
				.fale-conosco--title{
					margin: 35px 0 60px;
				}
				.fale-conosco--container{
					margin: 0 0 10px 0;
					.fale-conosco--locais{
						margin: 0 0 55px 0;
					}
					
				}
			}


		/*
			####################
			    FALE CONOSCO
			####################
		*/

		/*
			####################
			      CONTATO
			####################
		*/

			.contato{
				margin: 40px 0;
				.contato-block--left{
					margin: 0 0 40px 0;
					&.left{
						float: initial;
					}
				}
				.contato-form{
					&.right{
						float: initial;
					}
					.container{
						padding: 0;
					}
					.form-align{
						margin-bottom: 25px !important;
						.form-field{
							p{
								font-size: 16px;
							}
							margin: 0 0 30px 0;
						}
					}
					.form-field{
						p{
							font-size: 16px;
						}
					}
					.button-contato{
						margin: 50px 0 0 0;
						.form-field{
							button{
								font-size: 16px;
							}
						}
					}
				}
			}


		/*
			####################
			     //CONTATO
			####################
		*/

		/*
			####################
			   INSTITUCIONAL
			####################
		*/
			.institucional{
				.institucional-title{
					margin: 36px 0 0 0;
					h1{
						line-height: 27px;
						font-size: 22px;
					}
				}
				.institucional-content{
					margin: 20px 0 40px 0;
					p{
						font-size: 16px;
					}
				}
				.instituciona--link{
					margin: 0 0 55px 0;
					a{
						padding: 14px 20px 13px;
					}
				}
				.institucional-container{
					margin: 0 0 25px 0;
					.institucional-container--img{
						height: auto;
					}
				}
			}

		/*
			####################
			  //INSTITUCIONAL
			####################
		*/

		/*
			####################
			  	  SERVIÇOS
			####################
		*/
			.servicos{
				.servicos-title{
					margin: 35px 0 0 0;
					h1{
						font-size: 22px;
					}
				}
				.servicos-content{
					margin: 20px 0 35px 0;
					p{
						font-size: 16px;
					}
				}
				.servicos-list{
					.servicos-container{
						height: 0;
						.servicos-container--img{
							height: auto;
						}
						.servicos-container--posts{
							padding: 30px 0;
							background-color: #2b4d8a;
							.servicos-container--posts-align{
								padding: 0 15px;
								.posts-serv--title{
									h1{
										font-size: 22px;
										line-height: 27px;
									}
									margin: 15px 0 20px 0;
								}
								.posts-serv--content{
									margin: 0 0 40px 0;
									p{
										font-size: 16px;
									}
								}
							}
						}
					}
					.servicos-container:nth-child(even){
						.servicos-container--posts{
							.servicos-container--posts-align{
								padding: 0 15px;
							}
						}
					}
				}
			}


		/*
			####################
			  	 //SERVIÇOS
			####################
		*/


		/*
			####################
			  	 PRODUTOS
			####################
		*/
			.produtos{
				.container{
					padding: 0 15px;
				}
				.mobile-space{
					&.container{
						padding: 0;
					}
					.produtos-title{
						margin: 40px 0 0 0;
						h1{
							font-size: 22px;
						}
					}
					.produtos-subtitle{
						margin: 15px 0 25px;
						h2{
							font-size: 18px;
						}
					}
					.produtos-content{
						margin: 0 0 45px 0;
						p{
							font-size: 16px;
						}
					}
				}
				.produtos-align{
					.produtos-posts{
						&.container{
							padding: 0;
						}
						.produtos-posts--img{
							width: 100%;
						}
					}
				}
			}



		/*
			####################
			  	//PRODUTOS
			####################
		*/

		/*
			####################
			  	ESTRUTURA
			####################
		*/
			.estrutura{
				margin: 40px 0 0 0;
				.mobile-space{
					&.container{
						padding: 0;
					}
				}
				.estrutura-title{
					h1{
						font-size: 22px;
					}
				}
				.estrutura-subtitle{
					h2{
						font-size: 18px;
					}
				}
				.estrutura-content{
					margin: 0 0 45px 0;
				}

				.estrutura-posts--align{
					margin: 0 0 20px 0;
					.estrutura-posts{
						&.container{
							padding: 0;	
						}
						&.left{
							float: initial;
						}
						.posts-img{
							width: 100%;
						}
					}
				}
				.estrutura-plus{
					margin: 0 0 35px 0;
				}
			}
		/*
			####################
			  	//ESTRUTURA
			####################
		*/

		/*
			####################
			       FOOTER
			####################
		*/

			.footer{
				padding: 20px 0 25px;
				.footer-aling{
					.mobile-space{
						.footer-top{
							margin: 30px 0 0 0;
							text-align: center;
						}
						.container{
							padding: 0;
						}
						&.container{
							padding: 0;
						}
						.footer-logo{
							margin: 0;
							&.container{
								padding: 0;
							}
						}
					}
					.mobile-space-social{
						.container{
							padding: 0;
						}
					}
					.footer-list--border{
						border-left: 0;
						&.container{
							padding: 0;
						}
						.footer-list{
							margin: 20px 0;
							&.container{
								padding: 0;
							}
						}
					}

				}

			}
			.footer-black{
				padding: 25px 0 15px 0;
				.footer-black--copiryght{
					margin: 0 0 8px 0;
					&.left{
						float: initial;
					}
					p{
						font-size: 10px;
						text-align: center;
					}
				}
				.footer-black--developer{
					margin: 0 auto;
					&.right{
						float: initial;
					}
					.logo-w18{
						margin: 0 0 0 7px;
						&.right{
							float: left;
						}
					}
				}
			}



		/*
			####################
			      //FOOTER
			####################
		*/

		/*
			####################
			   MEIO AMBIENTE
			####################
		*/
			.meio-amb{
				.mobile-space{
					&.container{
						padding: 0;
					}
				}
				.meio-amb--circle{
					&.meio-amb--img{
						nav{
							ul{
								margin: 0;
								padding: 0;
								li{
									margin: 0 68px 20px 0;
									display: inline-block;
									border-radius: 50%;
									width: 108px;
									height: 108px;
									overflow: hidden;
									&:last-child{
										margin: 0;
									}
									img{
										min-width: 100%;
										min-height: 100%;
										max-width: 150%;
									}	
									&:nth-child(even){
										margin: 0 0 20px 0;
									}	
								}
							}
						}
					}			
				}
			}

		/*
			####################
			  //MEIO AMBIENTE
			####################
		*/

	}
	//Mobile Portrait (Modo Paisagem)
	@media only screen and(min-width: 480px) and (max-width: 736px) and (orientation: landscape){


		/*
			####################
			       MODAL
			####################
		*/

			.modal{
				.modal-container{
					.modal-block{
						display: block;
						.modal-img{
							.modal-content{
								padding: 10px 0;
								.modal-text{
									p{
										margin: 0;
										font-size: 18px;
										color: #fff;
										text-transform: uppercase;
									}
								}
							}
						}
					}
				}
			}

		/*
			####################
			     //MODAL
			####################
		*/
		/*
			####################
			       FOOTER
			####################
		*/

			.footer{
				padding: 20px 0 25px;
				.footer-aling{
					margin: 0;
					.mobile-space{
						.footer-top{
							margin: 20px 0 0 0;
							text-align: center;
						}
						.container{
							padding: 0;
						}
						&.container{
							padding: 0;
						}
						.footer-logo{
							margin: 0;
							&.container{
								padding: 0;
							}
						}
						
					}
					.mobile-space-social{
						margin: 20px 0 0 0;
						&.col-xs-12{
							width: 49.98%;
							float: left;
						}
						.footer-social{
							.footer-social--link{
								a{
									i{
										font-size: 24px;
									}
									p{
										font-size: 12px;
									}
								}
							}
						}
					}
					.footer-list--border{
						float: left;
						border-left: 0;
						&.container{
							padding: 0;
						}
						.footer-list{
							margin: 20px 0;
							&.container{
								padding: 0;
							}
							nav{
								ul{
									li{
										a{
											font-size: 10px;
										}
									}
								}
							}
						}
						&.col-xs-12{
							width: 49.98%;
						}
					}


				}

			}
			.footer-black{
				padding: 25px 0 15px 0;
				.footer-black--copiryght{
					margin: 0 0 8px 0;
					&.left{
						float: initial;
					}
					p{
						font-size: 10px;
						text-align: center;
					}
				}
				.footer-black--developer{
					.col-xs-3{
						width: 33.32%;
					}
					margin: 0 auto;
					&.col-xs-6{
						width: 24.99%;
					}
					&.right{
						float: initial;
					}
					.logo-w18{
						&.right{
							float: left;
						}
					}
				}
			}



		/*
			####################
			      //FOOTER
			####################
		*/
		/*
			####################
			      CONTATO
			####################
		*/

			.contato{
				margin: 40px 0;
				.contato-block--left{
					margin: 0 0 40px 0;
					&.left{
						float: initial;
					}
				}
				.contato-form{
					&.right{
						float: initial;
					}
					.montserrat_regular{
						&.container{
							padding: 0;
						}
					}
					.container{
						padding: 0 30px 0 0;
						&:nth-child(2){
							padding: 0;
						}
					}
					.form-align{
						margin-bottom: 0 !important;
						.form-field{
							p{
								font-size: 16px;
							}
							margin: 0 0 30px 0;
							&.col-xs-12{
								width: 49.98%;
							}
						}
						&:nth-child(2){
							.form-field{
								padding: 0 30px 0 0;
								&:last-child{
									padding: 0;
								}
								&.col-xs-12{
									width: 33.32%;
								}
							}
						}
					}
					.form-field{
						p{
							font-size: 16px;
						}
						&.mobile-space{
							margin-top: 30px;
							&.container{
								padding: 0;
							}
						}
					}
					.button-contato{
						margin: 50px 0 0 0;
						.form-field{
							button{
								font-size: 16px;
							}
						}
					}
				}
			}


		/*
			####################
			     //CONTATO
			####################
		*/
		/*
			####################
			    FALE CONOSCO
			####################
		*/
			.fale-conosco{
				.fale-conosco--title{
					margin: 35px 0 60px;
				}
				.fale-conosco--container{
					margin: 0 0 10px 0;
					.fale-conosco--locais{
						margin: 0 0 55px 0;
						&.col-xs-12{
							width: 49.98%;
						}
					}
					
				}
			}


		/*
			####################
			    //FALE CONOSCO
			####################
		*/

		/*
			####################
			  	 PRODUTOS
			####################
		*/
			.produtos{
				.container{
					padding: 0 15px;
				}
				.mobile-space{
					&.container{
						padding: 0;
					}
					.produtos-title{
						margin: 40px 0 0 0;
						h1{
							font-size: 22px;
						}
					}
					.produtos-subtitle{
						margin: 15px 0 25px;
						h2{
							font-size: 18px;
						}
					}
					.produtos-content{
						margin: 0 0 45px 0;
						p{
							font-size: 16px;
						}
					}
				}
				.produtos-align{
					.produtos-posts{
						&.container{
							padding: 0;
						}
						.produtos-posts--img{
							width: 100%;
						}
					}
				}
			}



		/*
			####################
			  	//PRODUTOS
			####################
		*/
		/*
			####################
			 	   HEADER
			####################
		*/
			.header{
				&.header-scroll{
					padding: 10px 0 8px;
					.header-container{
						padding: 0;
						.header-logo{
							.logo-scroll{
								padding: 0;
							}
							img{
								margin: 0;
								width: 180px;
								height: auto;
							}
						}
						.mobile-menu{
							.menu{
								.icon-menu{
									margin: 8px 15px 0 0;
									.bar{
										background-color: #fff;
									}
								}
							}
							.sidebar{
								top: 0;
							}
						}
					}
				}
				.header-container{
					padding: 15px 0 8px;
					.header-logo{
						img{
							padding: 5px 0 0 15px;
							width: 190px;
							margin: 0;
						}
						.logo-default{
							&.container{
								padding: 0;
							}
						}
					}
					.mobile-menu{
						.menu{
							.icon-menu{
								margin: 9px 15px 0 0;
							}
						}
						.sidebar{
							top: 0;
						}
					}
				}
			}
		/*
			####################
			 	  //HEADER
			####################
		*/

		/*
			####################
			  INDEX BACKGROUND
			####################
		*/

			.index{
				height: 760px;
			}

		/*
			####################
			 //INDEX BACKGROUND
			####################
		*/

		/*
			####################
			 	  SECTION
			####################
		*/
			.section{
				.section-container{
					.section-title{
						margin: 150px 0 15px;
						h1{
							line-height: 45px;
						}
					}
					.section-content{
						p{
							font-size: 19px;
							line-height: 27px;
						}
					}
					.section-button{
						a{
							padding: 14px 18px 12px;
						}
					}
				}
			}
		/*
			####################
			 	 //SECTION
			####################
		*/
		/*
			####################
			 	  ARTICLE
			####################
		*/
			.article{
				.article-title{
					margin: 30px 0 30px 0;
					h1{
						line-height: 27px;
						font-size: 22px;
					}
				}
				.article-container{
					margin-bottom: 40px;
					.article-post{
						&.col-lg-3{
							width: 49.98% !important;
						}
						&.left{
							margin: 0 auto;
							float: initial;
						}
						.article-post--img{
							width: 100%;
							height: auto;
						}
						.article-post--title{
							h1{
								margin: 20px 0 15px 0;
								font-size: 18px;
							}
						}
						.article-post--content{
							margin: 0 0 35px 0;
						}
					}
				}
				.article-plus{
					margin-bottom: 50px;
					a{
						font-size: 18px;
					}
				}
			}
		/*
			####################
			 	 //ARTICLE
			####################
		*/

		/*
			####################
			 	   ASIDE
			####################
		*/
			.aside{
				&.aside-bkg1{
					height: auto;
				}
				&.aside-bkg2{
					height: auto;
				}
			}
			.aside-container{
				.aside-title{
					margin: 20px 0 10px 0;
					h1{
						line-height: 27px;
						font-size: 22px;
					}
				}
				.aside-content{
					margin: 0 0 20px 0;
					p{
						line-height: 26px;
						font-size: 14px;
					}
				}
			}
				/*
					#####################
				   		ASIDE PRODUTOS
					#####################
				*/
					.aside-produtos{
						margin: 20px 0 30px 0;
						.aside-produtos--list{
							nav{
								ul{
									li{
										margin-bottom: 12px;
										font-size: 14px;
									}
								}
							}
						}
					}

					.aside-produtos--plus{
						margin: 0 0 20px 0;
						a{
							font-size: 18px;
						}
					}
				/*
					#####################
				   	   //ASIDE PRODUTOS
					#####################
				*/
		/*
			####################
			 	 //ASIDE
			####################
		*/

		/*
			####################
			   MEIO AMBIENTE
			####################
		*/
			.meio-amb{
				margin-bottom: 40px;
				.meio-amb--title{
					margin: 25px 0 20px;
					h1{
						font-size: 22px;
					}
				}
				.meio-amb--content{
					margin-bottom: 50px;
					p{
						font-size: 14px;
						line-height: 22px;
					}
				}
				.meio-amb--circle{
					margin: 0 0 15px 0;
				}
				.mobile-space{
					&.col-xs-6{
						width: 24.99%;
					}
				}
			}
		/*
			####################
			  //MEIO AMBIENTE
			####################
		*/


		/*
			####################
			  	  SERVIÇOS
			####################
		*/
			.servicos{
				.servicos-title{
					margin: 35px 0 0 0;
					h1{
						font-size: 22px;
					}
				}
				.servicos-content{
					margin: 20px 0 35px 0;
					p{
						font-size: 16px;
					}
				}
				.servicos-list{
					.servicos-container{
						height: 0;
						.servicos-container--img{
							height: auto;
						}
						.servicos-container--posts{
							padding: 30px 0;
							background-color: #2b4d8a;
							.servicos-container--posts-align{
								padding: 0 15px;
								.posts-serv--title{
									h1{
										font-size: 22px;
										line-height: 27px;
									}
									margin: 15px 0 20px 0;
								}
								.posts-serv--content{
									margin: 0 0 40px 0;
									p{
										font-size: 16px;
									}
								}
							}
						}
					}
					.servicos-container:nth-child(even){
						.servicos-container--posts{
							.servicos-container--posts-align{
								padding: 0 15px;
							}
						}
					}
				}
			}


		/*
			####################
			  	 //SERVIÇOS
			####################
		*/

		/*
			####################
			  	ESTRUTURA
			####################
		*/
			.estrutura{
				margin: 40px 0 0 0;
				.mobile-space{
					&.container{
						padding: 0;
					}
				}
				.estrutura-title{
					h1{
						font-size: 22px;
					}
				}
				.estrutura-subtitle{
					h2{
						font-size: 18px;
					}
				}
				.estrutura-content{
					margin: 0 0 45px 0;
				}

				.estrutura-posts--align{
					.estrutura-posts{
						&.container{
							padding: 0 15px 0 0;
						}
						&.col-xs-12{
							width: 49.98%;
						}
						.posts-img{
							width: 100%;
							height: 324px;
						}
					}
					.estrutura-posts:nth-child(even){
						&.container{
							padding: 0;
						}
					}
				}
				.estrutura-plus{
					margin: 0 0 35px 0;
				}
			}
		/*
			####################
			  	//ESTRUTURA
			####################
		*/

		/*
			####################
			  	 PRODUTOS
			####################
		*/
			.produtos{
				.produtos-align{
					.produtos-posts{
						&.col-xs-12{
							width: 49.98%;
						}
						&.container{
							padding: 0 15px 0 0;
						}
						.produtos-posts--img{
							width: 100%;
							height: 280px;
						}
					}
					.produtos-posts:nth-child(even){
						padding: 0;
					}
				}
			}



		/*
			####################
			  	//PRODUTOS
			####################
		*/


	}
	//IPHONE 4
	@media only screen and(max-width: 320px) and (orientation: portrait){		
	}	
	
	//IPHONE 4 LANDSCAPE
	@media only screen and(max-width: 480px) and (orientation : landscape){
		
		/*
			####################
			       MODAL
			####################
		*/

			.modal{
				.modal-container{
					.modal-block{
						display: block;
						.modal-img{
							.modal-content{
								padding: 15px 0;
								.modal-text{
									p{
										margin: 0;
										font-size: 18px;
										color: #fff;
										text-transform: uppercase;
									}
								}
							}
						}
					}
				}
			}

		/*
			####################
			     //MODAL
			####################
		*/
		/*
			####################
			 	   ASIDE
			####################
		*/
			.aside{
				&.aside-bkg1{
					height: 285px;
				}
				&.aside-bkg2{
					height: 535px;
				}
			}
			.aside-container{
				.aside-title{
					margin: 25px 0 20px 0;
					h1{
						line-height: 27px;
						font-size: 22px;
					}
				}
				.aside-content{
					p{
						line-height: 26px;
						font-size: 14px;
					}
				}
			}
				/*
					#####################
				   		ASIDE PRODUTOS
					#####################
				*/
					.aside-produtos{
						margin: 20px 0 30px 0;
						.aside-produtos--list{
							nav{
								ul{
									li{
										margin-bottom: 12px;
										font-size: 14px;
									}
								}
							}
						}
					}

					.aside-produtos--plus{
						a{
							font-size: 18px;
						}
					}
				/*
					#####################
				   	   //ASIDE PRODUTOS
					#####################
				*/
		/*
			####################
			 	 //ASIDE
			####################
		*/
		/*
			####################
			   MEIO AMBIENTE
			####################
		*/
			.meio-amb{
				.mobile-space{
					&.col-xs-6{
						width: 33.32%;
					}
				}
				.meio-amb--circle{
					margin: 0 0 15px 0;
				}
			}
		/*
			####################
			  //MEIO AMBIENTE
			####################
		*/
				/*
			####################
			       FOOTER
			####################
		*/

			.footer{
				padding: 20px 0 25px;
				.footer-aling{
					.mobile-space-social{
						.container{
							padding: 0;
						}
						&.col-xs-12{
							width: 49.98%;
							float: left;
						}
						.footer-social{
							.footer-social--link{
								a{
									i{
										margin: 0 10px 0 0;
										font-size: 27px;
									}
									p{
										font-size: 14px;
									}
								}
							}
						}
					}
				}
			}


		/*
			####################
			      //FOOTER
			####################
		*/
		/*
			####################
			   INSTITUCIONAL
			####################
		*/
			.institucional{
				.institucional-container{
					.institucional-container--img{
						height: 391px;
					}
				}
			}

		/*
			####################
			  //INSTITUCIONAL
			####################
		*/
	}
	

